*{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #17233D;


}

.container{
    width: 100vw;
    height: 100vh;
}

.container-left{
    display: inline-block;

}

.container-right{
    display: inline-block;
}

header{
    margin: 32px 0 0 36px;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.88px;
}

.link-header{
    margin-right:32px ;
    cursor: pointer;
}

button{
    background-color: #6FBF44;
    width: 114px;
    height: 43px;
    border-radius: 6px;
    border: none;
    color: #ffffff;
    cursor: pointer;

    font-size: 14px;
    line-height: 100%;
    letter-spacing: 1px;

}

img{
    width: 65%;
    height: auto;
    margin: 55px 0 0 76px;
}

h1{
    font-weight: 700;
    font-size: 62px;
    line-height: 82px;
    letter-spacing: 0.6px;
    width: 582px;
    color: #161A49;
}


p{
    width : 493px;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.5px;
    margin-top: 40px;
    margin-bottom:40px ;
}

.link-right{
    cursor: pointer;
    color: #6FBF44;
    font-size: 18px;
}

.link-header:hover{
    opacity: .8;
}
.link-header:active{
    opacity: .4;
}


button:hover{
    opacity: .8;
}
button:active{
    opacity: .4;
}


.link-right:hover{
    opacity: .8;
}
.link-right:active{
    opacity: .4;
}

@media screen and (min-width: 550px) and (max-width:1200px){
    .container-left{
        display: block;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 60%;
    }

    .container-right{
        display: block;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 40%;
    }
    button{
        position: absolute;
        right: 50px;
        width: 165px;
        height: 65px;
        font-size: 16px;


    }
    
    img{
        width: 75%;
        height: auto;
        display: block;
        margin: 0 auto;
        margin-top: 55px;
    }

    .link-header{
        font-size: 23px;
        margin-right: 42px;
    }

    h1{
        text-align: center;
        width: auto;
        font-size: 70px;
    }
    p{
        text-align: center;
        width: auto;
        margin: 56px 160px;
        font-size: 30px;
    }
    a{
        text-align: center;
        width: auto;
    }

    .link-right{
        display: block;
        width: auto;
        font-size: 38px;
    }

}

@media screen and (max-width: 550px) {

    .container-left{
        margin: 0;
        padding: 0;
    }
    .container-right{
        margin: 0;
        padding: 0;
        display: block;
        position: fixed;
        top: 125px;
    }

    .link-header{
        display: none;
    }

    h1{
        font-weight: 700;
        font-size: 30px;
        line-height: 30px;
        letter-spacing: 0.6px;
        text-align: center;
        width: auto;
    }

    p{
        font-weight: 400;
        font-size: 18px;
        line-height: 33px;
        letter-spacing: 0.5px;
        text-align: center;
        width: auto;
        margin: 29px 43px 26px 43px;

    }

    .link-right{
        margin: 0;
        display: block;
        text-align: center;
        width: auto;
    }

    button{
        position: fixed;
        right: 15px;
        cursor: pointer;
    }

    img{
        position: relative;
        top: 395px;
        width: 80%;
        height: auto; 
        display: block;
        margin: 0 auto;
    }


}




